body{
    background-color: salmon;
    font-family: 'Smokum';
}
.header_div{
    background-color:blanchedalmond;
    color: blueviolet;
}
.header_div p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: sienna;
    letter-spacing: 2px;
    font-size: 13.6756px;
    font-weight: bold;

}
.main_div button{
    font-family: monospace;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.hehehe{
    position: fixed;
    color: lavender;
    bottom: 0;
    width: 99.999%;
    line-height: 3;
    font-size: 18px;
    background-color: slategray;
    text-shadow: 5px 5px 5px aqua;
    text-align: center;
}